.DS_Store
.history
.venv/

.ruff_cache/

#avoid adding opencode instructions into repo
*.md
.opencode/

#frontend in separate repo
website/

#any keys will be named with .private
*private.py

*__pycache__/